<div>
    <div id="question">
        <h1>Question</h1>
<<<<<<< HEAD
        {{!-- <h1>{{}}</h1> --}}
=======
>>>>>>> d6aeb9b5f5560ad5fdb19c227c2ae4e29188dcb4
    </div>
    <div id="results">
        <h1>Results</h1>
    </div>
    <button id="submitAnswerBtn">Submit Answer</button>
    <span id="counter"></span>
</div>
<<<<<<< HEAD
<button class="btn btn-default" id="aButton">A button</button>
=======
<button class="btn btn-default" id="nextQuestion">Next Question</button>
>>>>>>> d6aeb9b5f5560ad5fdb19c227c2ae4e29188dcb4
