<div>
    <div id="question1">
        <h1>Question 1</h1>
    </div>
    <div id="results1">
        <h1>Results</h1>
    </div>
</div>
<button class="btn btn-default" id="aButton">A button</button>
<script src="game.js"></script>