<section id="top-section">
    <img src="quiztime.png" id="quiztimeIMG">
    <img src="quiz-question-mark.png" id="quiz-question-markIMG">
</section>
<section id="form-section">
    <div class="container-fluid">
        <div class="row" id="rowContainer">
            <div class="col-md-6" id="left-section">
                <div class="well">
                    <div id="login_Sign-up-submit">
                        <a></a><form id="login-form">
                            <span id="loginText"><strong>Login</strong></span><input type="text" name="login-email" placeholder="Email..." class="form-control"><input type="password" class="form-control" name="login-password" placeholder="Password"><button type="submit" name="logInSubmit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>
                        </form>
                        <form id="sign-up-form">
                            <span id="IDText"><strong>Sign-up</strong></span><input type="text" name="sign-up-email" placeholder="Email..." class="form-control"><input type="text" name="sign-up-username" placeholder="Name..." class="form-control"><input type="password" class="form-control" name="sign-up-password" placeholder="Password"><button type="submit" name="signUpSubmit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>
                        </form>
                        <div>
                            <button id="switchButton" class="btn btn-info" name="submitButton"><i class="fas fa-user-plus"></i> Click to Register</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="right-section">
                <div class="well">
                    <div id="play-submit">
                        <form>
                            <span id="playText" style="display:block;"><strong>Play</strong></span>
                            {{!-- <input type="number" name="playPin" placeholder="Pin" class="form-control">
                            <input type="text" name="playHandle" placeholder="Handle" class="form-control"> --}}
                            {{!-- <a href="game"> --}}
                                <button type="submit" name="playSubmit" id="playSubmit1" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>
                            {{!-- </a> --}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>