<form action="">
    <label for="title">Question</label>
    <input type="text" name="question" id="question_itself">
    <label for="title">Time</label>
    <input type="text" name="time" id="question_time">
    <label for="title">Answers</label>
    <input type="text" name="answer" id="question_answer">
    <input type="checkbox" name="correct" value="correct">correct
    <button>selectAsCorrect</button>
</form>