<!-- quiz -->
<div id="quiz_detail">
    <label for="quiz_title">Title</label>
    <input type="text" name="quiz_title" id="quiz_title">
    <label for="quiz_description">Description</label>
    <input type="text" name="quiz_description" id="quiz_description">
</div>

<div id="listofquestion">
    <!-- append questions -->
</div>

<!-- extend question -->
<div id="ADD_question">
    Create Question
    <br>
    <button id="ADD_question">+</button>
</div>

<div>
    <button id="ADD_quiz">sumbit</button>
</div>

<script src="quiz_create.js"></script>