
<table>
    <caption>Results Table</caption>
    <tr>
        <th>ID</th>
        <th>Handle</th> 
        <th>Q1</th>
        <th>Q2</th>
        <th>Q3</th>
        <th>Q4</th>
        <th>Overall</th>
    </tr>
    <tr>
        <td>001</td>
        <td>Smith</td> 
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        </tr>
        <tr>
        <td>002</td>
        <td>Jackson</td> 
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        </tr>
</table>