/*==================================================================================
Main
====================================================================================*/

body {

}

/*==================================================================================
Top Section
====================================================================================*/

#top-section {
    margin: auto;
    width: 100 wh;
    height: 550px;
    background-color: rgba(243, 243, 243, 0.842);
    border-bottom: 1px solid;
    border-bottom-color: #f0f0f0;
}

/*==================================================================================
Images
====================================================================================*/

#quiztimeIMG {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 60px;
}

#quiz-question-markIMG {
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {
    #quiz-question-markIMG {
        width: 230px;;
    }
}

@media screen and (max-width: 500px) {
    #quiztimeIMG {
        width: 380px;;
    }
}

@media screen and (max-width: 380px) {
    #quiztimeIMG {
        width: 300px;;
    }
}

/*==================================================================================
Bottom Section
====================================================================================*/

#form-section {
    display: block;
    text-align: center;
    margin-top: 20px;
}

#rowContainer{
    width: 60%;
    margin: auto;
}

#left-section {
    margin: 0;
    display: block;
    vertical-align: top;
}

#right-section {
    margin: 0;
    display: block;
    vertical-align: top;
}

.well {
    border-style:solid;
    border-color: red green blue yellow;
    border-radius: 8px;
    padding: 5%;
    margin-bottom: 4%;
    height: 300px;
}

/*==================================================================================
Text
====================================================================================*/

#loginText {
    font-size: 40px;
}

#IDText {
    font-size: 40px;
}

#playText {
    font-size: 40px;
}

/*==================================================================================
Buttons and Submits
====================================================================================*/

#login_Sign-up-submit {
    display: inline;
}

#play-submit {
    display: inline;
}

button { 
    margin: 1%;
} 

#switchButton {
    margin-top: 10px;
}

/*==================================================================================
Forms
====================================================================================*/

#login-form {
    display: block;
}

#sign-up-form {
    display: none;
}